body {
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(24, 66, 158);
    font-family: 'Pangolin', cursive;
    font-size: 24px;
    background-color: #5d92b1;
    


    
}
